video {
  width: 100%;
  z-index: -1;
}
.thing-container {
  position: absolute;
  left: 50px;
  top: 230px;
  width: 70%;
}
.thing-container h4 {
  color: white;
  margin-left: 6px;
}
.thing {
  color: white;
  font-size: 175px;
}
.main-container {
  background-color: black;
}
.main-container h1, .main-container p {
  color: white;
}
.main-container p {
  font-size: 60px;
}
.thingy-2 {
  width: 65%;
  margin: 320px 20px 90px auto;
  padding-bottom: 100px;
}
.flex-container, .flex-container-2 {
  display: flex;
  padding-bottom: 150px;
}
.flex-container img, .flex-container-2 img {
  width: 54vw;
  height: 30.375vw;
  margin-right: 35px;
  margin-left: 35px;
}
.flex-container p, .flex-container-2 p {
  font-size: 30px;
  margin-left: 70px;
}
.flex-container-2 p {
  margin-right: 70px;
  margin-left: 0px;
}
.news-card-container {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-bottom: 200px;
}
.news-card {
  width: 30vw;
  margin-left: 10px;
  margin-right: 10px;
}
.news-card-container img {
  width: 100%;
}
.news-card p {
  font-size: 25px;
  margin-top: 10px;
}
.news-card p:hover {
  text-decoration: underline;
}
.nasa-credit p {
  font-size: 16px;
  position: absolute;
  right: 15px;
  top: 75px;
}

@media (max-width: 1150px) {
  .thing {
    font-size: 150px;
  }
}
@media (max-width: 1000px) {
  .thing {
    font-size: 120px;
  }
}
@media (max-width: 840px) {
  .thing {
    font-size: 100px;
  }
}
@media (max-width: 750px) {
  .thingy-2 {
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    width: 100vw;
  }
  .thing-3 {
    font-size: 10px;
  }
  .flex-container {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }
  .flex-container p {
    /* margin-left: 80px;
    margin-right: 80px; */
    margin-left: 0px;
    margin-right: 0px;
    /* width: 630px; */
    width: 80vw;
  }
  .flex-container-2 {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .flex-container-2 p {
    /* margin-left: 80px;
    margin-right: 80px; */
    margin-left: 0px;
    margin-right: 0px;
    /* width: 630px; */
    width: 80vw;
  }
  .flex-container img, .flex-container-2 img {
    margin-bottom: 40px;
    width: 80vw;
    height: auto;
  }
}
@media (max-width: 660px) {
  .thing {
    font-size: 80px;
  }
  .thing-container {
    top: 150px;
  }
  .news-card-container {
    flex-direction: column;
    align-items: center;
  }
  .news-card {
    width: 80vw;
  }
  .news-card p {
    margin-bottom: 40px;
  }
}
@media (max-width: 570px) {
  .thing {
    font-size: 55px;
  }
  .thing-2-container p {
    font-size: 40px;
    margin-top: 150px;
  }
  @media (max-width: 300px) {
    .thing {
      font-size: 20px;
    }
  }
