p, a, input, button, textarea {
  font-family: var(--font-2);
}
h4 {
  font-weight: bold;
  font-size: 1.6rem;
}

main {
  min-height: 100vh;
}

.container{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 100px;
}

.contact-box{
	max-width: 850px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	background-color: #fff;
}

.left{
	height: 100%;
  padding-left: 30px;
}

.right{
  padding: 0px 40px 25px 40px;
}

h2{
	position: relative;
	padding: 0 0 10px;
  margin: 30px 0px 10px 0px;
}

.field{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
}

.field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

textarea{
	min-height: 150px;
}

.btn{
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: var(--color-2);
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
}
.btn:hover {
  background-color: var(--color-3);
}

.contact-us-container {
  display: flex;
  justify-content: center;
}
.left p {
  margin-bottom: 20px;
}


.field:focus{
    border: 2px solid var(--color-3);
    background-color: #fff;
}

@media screen and (max-width: 880px){
	.contact-box{
		grid-template-columns: 1fr;
	}
	.left{
		height: 200px;
    margin-bottom: 80px;
	}
}

img {
  width: 40px;
}

.left p {
  color: #757575;
}
