/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


/* Variables */
:root {
  /* Temporary colours */
  --color-1: white;
  --color-2: black;
  --font-1: 'Oswald', sans-serif;
  --font-2: 'Roboto', sans-serif;
}


/* Default values */
* {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  color: var(--color-2);
  font-family: var(--font-1);
}


/* Misc */
.link :hover {
  text-decoration: underline;
}
a {
  font-family: var(--font-2);
}


/* Nav */
nav {
  padding: 16px 0px 16px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  /* Temporary border for visualising the navigation bar */
  border-bottom: 1px;
  border-bottom-color: var(--color-2);
  border-bottom-style: solid;
}
.logo-container {
  margin-left: 40px;
}
.logo-container img {
  height: 45px
}
.bag-container {
  margin-right: 40px;
}
.bag-container img {
  height: 25px;
}
.link-container {
  display: flex;
}
.link-container a {
  margin: 0px 20px 0px 20px
}
