/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


/* Variables */
:root {
  /* Temporary colours */
  --color-1: white;
  --color-2: black;
  --font-1: 'Oswald', sans-serif;
  --font-2: 'Roboto', sans-serif;
}


/* Default values */
html {
  box-sizing: border-box;
}
* {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  color: var(--color-2);
  font-family: var(--font-1);
  box-sizing: inherit;
}


/* Misc */
.link:hover {
  text-decoration: underline;
}
a {
  font-family: var(--font-2);
}


/* Menu */
#Menu {
  display: none;
}


/* Nav */
nav {
  padding: 7px 0px 7px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  /* Temporary border for visualising the navigation bar */
  border-bottom: 1px;
  border-bottom-color: var(--color-2);
  border-bottom-style: solid;
}
.logo-container {
  padding-left: 2rem;
}
.logo-container img {
  height: 3rem;
}
.bag-container {
  padding-right: 2rem;
}
.bag-container img {
  height: 1.5rem;
}
.link-container {
  display: flex;
}
.link-container a {
  padding: 1rem;
}
.menu-container {
  padding-right: 2rem;
  display: none;
}
.menu-container img {
  height: 2rem;
}
.bag-menu-container {
  display: flex;
  align-items: center;
}


/* Media queries */
@media (orientation: portrait) {
  .menu-container {
    display: block;
  }
  .link-container {
    display: none;
  }
  .logo-container {
    padding-left: 2rem;
  }
}
